:root {
  --main-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
  font-weight: bold;
}

.block {
  display: inline-block;
  position: relative;
  width: 350px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.block:nth-child(3n+1) {
  background: rgb(254, 191, 154);
  background: linear-gradient(90deg, rgba(254, 191, 154, 1) 0%, rgba(248, 128, 147, 1) 100%);
}

.block:nth-child(3n+2) {
  background: rgb(141, 200, 243);
  background: linear-gradient(90deg, rgba(141, 200, 243, 1) 0%, rgba(17, 138, 222, 1) 100%);
}

.block:nth-child(3n) {
  background: rgb(128, 216, 208);
  background: linear-gradient(90deg, rgba(128, 216, 208, 1) 0%, rgba(4, 207, 180, 1) 100%);
}

.content-wrapper {
  padding: 30px;
}

.title-text {
  text-transform: capitalize;
  font-weight: 600;
}

.title-text,
.title-icon {
  display: inline-block;
}
.title{
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 30px;
  margin: 30px 0 ;
}

.change-percent {
  font-size: 16px;
}

.block::after,
.block::before {
  transition: all ease-in-out 1s;
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.295);
}

.block::after {
  top: -20%;
  right: -25%;

}

.block::before {
  bottom: -60%;
  right: -5%;
}

.block:hover {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.49);
}

.block:hover::after {
  top: -120%;
}

.block:hover::before {
  bottom: -120%;
}